@fontColor	: #364450;
@bannerColor: #d0dcff;
/*#D4EEF5;*/
@footerColor: #555C5C; 
@accentColor: #D44A13;
@span10Width: 82.97872340425532%;
body { 

	background: url('../img/noise_lines.png') repeat;
	background-attachment: fixed;
	color: @fontColor;

	h1, h2, h3 {
		font-family: 'Alegreya', serif;
	}

	p, thead td , address {
		font-family: 'Exo', sans-serif;
	}
	
	a:hover { 
		text-decoration: none;
	}
}

.center { 
	float: none;
	margin-left:auto;
	margin-right: auto;
}

.formatText {
	text-align: justify;
}

div#wrapper{ 
	.center;
	width: @span10Width;
	box-shadow: 0 0 1em black;
	padding: 0;
}


div#banner { 
	background: @bannerColor;
	background: -moz-linear-gradient(top, @bannerColor 31%, #ffffff 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,@bannerColor), color-stop(99%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, @bannerColor 31%,#ffffff 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, @bannerColor 31%,#ffffff 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, @bannerColor 31%,#ffffff 99%); /* IE10+ */
	background: linear-gradient(to bottom, @bannerColor 31%,#ffffff 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0dcff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	height: 390px;	

	overflow: none;

	div#image { 
		height:390px;
		margin: 0px;
		background-image: url('../img/buffalo_skyline.png');
	}
	h1 { 


		padding-left: 25px;
		font-family: 'Orbitron', sans-serif;
		margin: 30px 0px 0px 25px;
		line-height: 85px;
		font-size: 85px;		

		span#logo_wrapper { 
			line-height:65px;
			display: block;
			font-size: 45px;
			margin-left: 140px;
			margin-right: 0px;
			font-family: 'Armata', sans-serif;
		}
		span.color {
			display: inline;
			margin-left: 0px;
			color: @accentColor;
		}
	}
}

div#breadcrumbs { 
	background-color: @accentColor;
	font-family: 'Armata', sans-serif;
	font-size: 18px;

	div div#bread-wrap { 
		margin: 5px;

		i { 
			margin: 10px;
			font-size: 35px;
			color: white;

			&:hover { 
				color: darken(#e3e3e3, 10%);
			}
		}

	}

	#b2top { 
		text-align: center;
		margin: 10px;
		color: white;

		&:hover {
			color: darken(#e3e3e3, 10%)
		}
	}


}

div#navigation {
	background-color: white;
	div#nav-wrapper { 
		.center;
		width: @span10Width;
		div.span4{ 
			margin-top: 30px;
			margin-bottom: 30px;

			a { 
				.center;
				display: block;
				color: #a7a7a7;
				width: 144px;
				height: 144px;
				position: relative;
				text-align: center;
				text-decoration: none;
				line-height: 144px;
				border-radius: 50%;
				box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;			
			}

			&#about_us { 
				a{ 
					background-color: #808DB2;
					background-image: -webkit-gradient(linear, left top, left bottom, from(#808DB2), to(#707DA2));
					background-image: -webkit-linear-gradient(top, #f6f7f7, #707DA2); 
					background-image: -moz-linear-gradient(top, #f6f7f7, #707DA2); 
					background-image: -ms-linear-gradient(top, #f6f7f7, #707DA2); 
					background-image: -o-linear-gradient(top, #f6f7f7, #707DA2); 				}

			}

			&#devices { 
				a { 
					background-color: #808DB2;
					background-image: -webkit-gradient(linear, left top, left bottom, from(#808DB2), to(#707DA2));
					background-image: -webkit-linear-gradient(top, #f6f7f7, #707DA2); 
					background-image: -moz-linear-gradient(top, #f6f7f7, #707DA2); 
					background-image: -ms-linear-gradient(top, #f6f7f7, #707DA2); 
					background-image: -o-linear-gradient(top, #f6f7f7, #707DA2); 
				}
			}

			&#locations { 
				a { 
					background-color: #B3CC92;
					background-image: -webkit-gradient(linear, left top, left bottom, from(#B3CC92), to(#A3BC82));
					background-image: -webkit-linear-gradient(top, #f6f7f7, #A3BC82); 
					background-image: -moz-linear-gradient(top, #f6f7f7, #A3BC82); 
					background-image: -ms-linear-gradient(top, #f6f7f7, #A3BC82); 
					background-image: -o-linear-gradient(top, #f6f7f7, #A3BC82); 
				}
			}

			span { 
				font-size: x-large;
				font-family: 'Alegreya', serif;
				color: @accentColor;
			}
		}
	}
}

div#dev-wrap { 
}

div#content-wrapper {

	background-color: white;
	div.content { 
		.center;
		width: @span10Width;

		div.main_content_wrapper { 
			.center;

			a { 
				font-size: 16px;
				line-height: 22px;

			}

			h2 { 
				margin-top: 30px;
				font-size:40px;
			}

			p { 
				margin-top: 20px;
				font-size: 18px;	
				line-height: 30px;
				padding: 20px;
				margin-bottom: 30px;
			}

			address { 
				padding: 20px;
				padding-top: 0px;
				font-size:15px;
			}

			#what-is { 
				margin-top:20px;
			}
			div#device-list {
				margin-top: 40px;
				text-align: center;

				h3 { 
					font-size: 30px;
				}

				table {
					tr:nth-child(even) {
						background-color:#E9EFFF; 
					}

					background-color: #D0DCFF;
					caption { 
					}
					thead { 
						th { 	
							text-align: center;
							border: 0;
						}
						background-color: @fontColor;
						border-top-left-radius: 25%;
						border-top-right-radius: 25%;
						color: lighten(@accentColor, 10%);
					}
					tbody { 
						td { 
							text-align: center;
							border: 0;
						}
					}
				}
			}
			div#support {
			}

			div#contact { 
				margin-bottom: 20px;
				
				p { 
					margin-top: 15px;
				}

				form {
					margin-top: 95px;
					padding: 20px;
					label { 
						font-size: 15px;
					}

					textarea { 
						resize: none;
						width: 100%;
						max-width: 100%;
						min-width: 100%;
						height: 125px;
						max-height: 125px;
						min-height: 125px;
					}
				}
			}
		}
	}
	div#map-canvas {
			height: 500px;
			width: 100%;
		}


}

div#footer { 
	background-color: @footerColor;

		a { 
			display: block;
			margin: 40px 15px 40px 15px;
			width: 20px;
			font-size:30px;
			
			float: right;
			text-decoration: none;
			color: #e3e3e3;	
		}

		a:hover { 
			color: #c3c3c3;
		}


		#dev-links {
			
			a { 
				float: left;
				margin-left: 40px;
				margin-right:25px;
				margin-top: 25px;
				margin-bottom: 25px;
				font-size: 60px;
			}

			&>a:first-of-type {
				margin-left:60px;
			}

		}



}
