/*#D4EEF5;*/
body {
  background: url('../img/noise_lines.png') repeat;
  background-attachment: fixed;
  color: #364450;
}
body h1,
body h2,
body h3 {
  font-family: 'Alegreya', serif;
}
body p,
body thead td,
body address {
  font-family: 'Exo', sans-serif;
}
body a:hover {
  text-decoration: none;
}
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.formatText {
  text-align: justify;
}
div#wrapper {
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 82.97872340425532%;
  box-shadow: 0 0 1em black;
  padding: 0;
}
div#banner {
  background: #d0dcff;
  background: -moz-linear-gradient(top, #d0dcff 31%, #ffffff 99%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #d0dcff), color-stop(99%, #ffffff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #d0dcff 31%, #ffffff 99%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #d0dcff 31%, #ffffff 99%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #d0dcff 31%, #ffffff 99%);
  /* IE10+ */

  background: linear-gradient(to bottom, #d0dcff 31%, #ffffff 99%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0dcff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */

  height: 390px;
  overflow: none;
}
div#banner div#image {
  height: 390px;
  margin: 0px;
  background-image: url('../img/buffalo_skyline.png');
}
div#banner h1 {
  padding-left: 25px;
  font-family: 'Orbitron', sans-serif;
  margin: 30px 0px 0px 25px;
  line-height: 85px;
  font-size: 85px;
}
div#banner h1 span#logo_wrapper {
  line-height: 65px;
  display: block;
  font-size: 45px;
  margin-left: 140px;
  margin-right: 0px;
  font-family: 'Armata', sans-serif;
}
div#banner h1 span.color {
  display: inline;
  margin-left: 0px;
  color: #d44a13;
}
div#breadcrumbs {
  background-color: #d44a13;
  font-family: 'Armata', sans-serif;
  font-size: 18px;
}
div#breadcrumbs div div#bread-wrap {
  margin: 5px;
}
div#breadcrumbs div div#bread-wrap i {
  margin: 10px;
  font-size: 35px;
  color: white;
}
div#breadcrumbs div div#bread-wrap i:hover {
  color: #cacaca;
}
div#breadcrumbs #b2top {
  text-align: center;
  margin: 10px;
  color: white;
}
div#breadcrumbs #b2top:hover {
  color: #cacaca;
}
div#navigation {
  background-color: white;
}
div#navigation div#nav-wrapper {
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 82.97872340425532%;
}
div#navigation div#nav-wrapper div.span4 {
  margin-top: 30px;
  margin-bottom: 30px;
}
div#navigation div#nav-wrapper div.span4 a {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #a7a7a7;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  text-decoration: none;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}
div#navigation div#nav-wrapper div.span4#about_us a {
  background-color: #808DB2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#808db2), to(#707da2));
  background-image: -webkit-linear-gradient(top, #f6f7f7, #707da2);
  background-image: -moz-linear-gradient(top, #f6f7f7, #707da2);
  background-image: -ms-linear-gradient(top, #f6f7f7, #707da2);
  background-image: -o-linear-gradient(top, #f6f7f7, #707da2);
}
div#navigation div#nav-wrapper div.span4#devices a {
  background-color: #808DB2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#808db2), to(#707da2));
  background-image: -webkit-linear-gradient(top, #f6f7f7, #707da2);
  background-image: -moz-linear-gradient(top, #f6f7f7, #707da2);
  background-image: -ms-linear-gradient(top, #f6f7f7, #707da2);
  background-image: -o-linear-gradient(top, #f6f7f7, #707da2);
}
div#navigation div#nav-wrapper div.span4#locations a {
  background-color: #B3CC92;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b3cc92), to(#a3bc82));
  background-image: -webkit-linear-gradient(top, #f6f7f7, #a3bc82);
  background-image: -moz-linear-gradient(top, #f6f7f7, #a3bc82);
  background-image: -ms-linear-gradient(top, #f6f7f7, #a3bc82);
  background-image: -o-linear-gradient(top, #f6f7f7, #a3bc82);
}
div#navigation div#nav-wrapper div.span4 span {
  font-size: x-large;
  font-family: 'Alegreya', serif;
  color: #d44a13;
}
div#content-wrapper {
  background-color: white;
}
div#content-wrapper div.content {
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 82.97872340425532%;
}
div#content-wrapper div.content div.main_content_wrapper {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
div#content-wrapper div.content div.main_content_wrapper a {
  font-size: 16px;
  line-height: 22px;
}
div#content-wrapper div.content div.main_content_wrapper h2 {
  margin-top: 30px;
  font-size: 40px;
}
div#content-wrapper div.content div.main_content_wrapper p,
div#content-wrapper div.content div.main_content_wrapper span {
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
  padding: 20px;
  margin-bottom: 30px;
}
div#content-wrapper div.content div.main_content_wrapper address {
  padding: 20px;
  padding-top: 0px;
  font-size: 15px;
}
div#content-wrapper div.content div.main_content_wrapper #what-is {
  margin-top: 20px;
}
div#content-wrapper div.content div.main_content_wrapper div#device-list {
  margin-top: 40px;
  text-align: center;
}
div#content-wrapper div.content div.main_content_wrapper div#device-list h3 {
  font-size: 30px;
}
div#content-wrapper div.content div.main_content_wrapper div#device-list table {
  background-color: #D0DCFF;
}
div#content-wrapper div.content div.main_content_wrapper div#device-list table tr:nth-child(even) {
  background-color: #E9EFFF;
}
div#content-wrapper div.content div.main_content_wrapper div#device-list table thead {
  background-color: #364450;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  color: #ec642e;
}
div#content-wrapper div.content div.main_content_wrapper div#device-list table thead th {
  text-align: center;
  border: 0;
}
div#content-wrapper div.content div.main_content_wrapper div#device-list table tbody td {
  text-align: center;
  border: 0;
}
div#content-wrapper div.content div.main_content_wrapper div#contact {
  margin-bottom: 20px;
}
div#content-wrapper div.content div.main_content_wrapper div#contact p {
  margin-top: 15px;
}
div#content-wrapper div.content div.main_content_wrapper div#contact form {
  margin-top: 95px;
  padding: 20px;
}
div#content-wrapper div.content div.main_content_wrapper div#contact form label {
  font-size: 15px;
}
div#content-wrapper div.content div.main_content_wrapper div#contact form textarea {
  resize: none;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 125px;
  max-height: 125px;
  min-height: 125px;
}
div#content-wrapper div#map-canvas {
  height: 500px;
  width: 100%;
}
div#footer {
  background-color: #555c5c;
}
div#footer a {
  display: block;
  margin: 40px 15px 40px 15px;
  width: 20px;
  font-size: 30px;
  float: right;
  text-decoration: none;
  color: #e3e3e3;
}
div#footer a:hover {
  color: #c3c3c3;
}
div#footer #dev-links a {
  float: left;
  margin-left: 40px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 60px;
}
div#footer #dev-links > a:first-of-type {
  margin-left: 60px;
}
