body {
  background: url('../img/noise_lines.png') repeat;
}
body h1,
body h2,
body h3 {
  font-family: 'Alegreya', serif;
}
body p,
body thead td {
  font-family: 'Exo', sans-serif;
}
div#banner {
  background-color: #D4EEF5;
  height: 250px;
}
div#banner h1 {
  margin: 20px 15px 10px 15px;
}
div#breadcrums {
  background-color: #EB3D21;
}
div#navigation {
  background-color: white;
  height: 75px;
}
div#navigation div.span4 {
  background-color: #D4EEF5;
  height: 75px;
  margin-right: 10px;
  margin-left: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
div#content {
  background-color: white;
}
div#content div.span10 {
  margin-top: 10px;
  margin-left: 90px;
  margin-right: 90px;
}
div#content div.span10 div.topic_block {
  width: 253.33px;
  margin: 0px;
  padding: 0px;
}
div#content div.span10 div#our_organization {
  margin: 0 10px 0 10px;
}
div#content div.span10 div#device-list {
  margin-top: 20px;
}
div#footer {
  background-color: #555C5C;
  height: 75px;
}
