body { 
	background: url('../img/noise_lines.png') repeat;
	background-attachment: fixed;
	color: #364450;

	h1, h2, h3 {
		font-family: 'Alegreya', serif;
	}

	p, thead td {
		font-family: 'Exo', sans-serif;
	}

}

.formatText {
	text-align: justify;
}

div#wrapper{ 
}

div#banner { 
	background: #D4EEF5;
	height: 350px;	
	h1 { 
		margin: 20px 0px 10px 25px;
	}
}

div#breadcrumbs { 
	background-color: #EB3D21;
}

div#navigation {
	background-color: white;
	div.span4{ 
		margin: 20px 10px 5px 10px;
		height: 144px;
		width: 300px;

		&#devices, &#about_us, &#locations {
			a { 
				display: block;
				background-color: #f7f7f7;
				background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
				background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
				background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
				background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
				background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
				color: #a7a7a7;
				margin: 0px auto 0px auto;
				width: 144px;
				height: 144px;
				position: relative;
				text-align: center;
				text-decoration: none;
				line-height: 144px;
				border-radius: 50%;
				box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;			
			}
		}

		span { 
			font-size: x-large;
			font-family: 'Alegreya', serif;
			color: #EB3D21;
		}
	}
}

div#content { 
	background-color: white;

	div.span10{
		margin-top: 10px;
		margin-left: 90px;
		margin-right: 90px;

		div#bullets {
			margin: 20px 0px 10px 0px;
			text-align: justify;
		}

		div.topic_block {
			width: 243.33px;
			margin: 0px;
			padding: 0px;

			&.middle {
				margin-left: 24px;
				margin-right: 24px;
			}
		}

		div#device-list {
			margin-top: 20px;
			table {
				caption { 
				}
				thead { 
				}
				tbody { 
				}
			}
		}

		.text{
			margin-right: 40px;
			.formatText;
		}
	}

	div#support {
		margin: 0px; 
	}

	div#contact { 
		margin: 0px;
		margin-bottom: 20px;
		
		p { 
			margin-top: 15px;
		}

		form textarea { 
			resize: none;
			width: 380px;
			max-width: 380px;
			min-width:380px;
			height: 125px;
			max-height: 125px;
			min-height: 125px;
		}
	}


	div#map-canvas {
			height: 400px;
			width: 100%;
	}
}

div#footer { 
	background-color: #555C5C;
	height: 75px;
}
