body { 
	background: url('../img/noise_lines.png') repeat;

	h1, h2, h3 {
		font-family: 'Alegreya', serif;
	}

	p, thead td {
		font-family: 'Exo', sans-serif;
	}

}
div#wrapper{ 
}

div#banner { 
	background-color: #D4EEF5;
	height: 250px;	
	h1 { 
		margin: 20px 15px 10px 15px;
	}
}

div#breadcrums { 
	background-color: #EB3D21;
}

div#navigation {
	background-color: white;
	height: 75px;
	div.span4{ 
		background-color: #D4EEF5;
		height: 75px;
		margin-right: 10px;
		margin-left: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;

		a img { 
			margin: 0 5px 0 5px;
		}
		span { 
			font-size: x-large;
			font-family: 'Alegreya', serif;
		}
	}
}

div#content { 
	background-color: white;

	div.span10{
		margin-top: 10px;
		margin-left: 90px;
		margin-right: 90px;

		div.topic_block {
			width: 253.33px;
			margin: 0px;
			padding: 0px;
		}

		div#our_organization { 
			margin: 0 10px 0 10px;
		}

		div#device-list {
			margin-top: 20px;
			table {
				caption { 
				}
				thead { 
				}
				tbody { 
				}
			}
		}
		
		div#contact { 
			margin-bottom: 20px;
			
			p { 
				margin-top: 15px;
			}

			form textarea { 
				resize: none;
				width: 380px;
				max-width: 380px;
				min-width:380px;
				height: 125px;
				max-height: 125px;
				min-height: 125px;
			}
		}
	}

	div#map-canvas {
			height: 400px;
			width: 100%;
	}
}

div#footer { 
	background-color: #555C5C;
	height: 75px;
}
