.center { 
	float: none;
	margin: auto;
}
#login { 
	.center;
	margin-top: 10%;
	margin-bottom: auto;
	width: 23.404255319148934%;
	background-color: #d0dcff;
	border-radius: 5%;

	div { 
		.center;
		margin-left: 5%;
		margin-right: 5%;

		h2{
			font-family: 'Orbitron', sans-serif;
			
			span {
				color: #d44a13;
			}
		}

		form {
			display: block;
			.center;
		}
	}
}
