{% extends 'OpenDeviceLabAdminBundle::layout.html.twig' %}

{% block layout_extend %}

<div id="login" class="row-fluid well">
	<div>
		<h2>Buffalo <span>ODL</span></h2>
		{% if error %}
			<div class="muted"> {{ error.message }}</div>
		{% endif %}

		<form action="{{url('login_check') }}" method="POST">
			<input type="text" id="username" class="input-block-level" name="_username" placeholder="Username" value="{{ last_username }}" />

			<input type="password" class="input-block-level" id="password" name="_password" placeholder="Password"/>
			<br>
			<button class="btn btn-small" type="submit">Login</button>
		</form>
	</div>
</div>
{% endblock %}
