{% extends 'OpenDeviceLabApplicationBundle::layout.html.twig' %}
{% block breadcrumbs %}
<div class="span2 pull-right">
    <a class="b2top" href="{{ path('_landing') }}">Back</a>
</div>
{% endblock %}
{% block body %}
    <div id="donate" class="content row-fluid">
        <div class="span12 content_wrapper">
			<br>
			{% include 'OpenDeviceLabApplicationBundle::flashes.html.twig' %}
            {{ form_start(form) }}
            <fieldset>
                <h2>Schedule an Appointment</h2>
				<hr>
                <div class="span5">
                    {{ form_widget(form) }}
                </div>
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

