<div id="device-list" class="row-fluid">
	<table class="table table-bordered table-stripped table-hover">
		<caption>
			<h3>Availalbe Devices</h3>
		</caption>
		<thead>
			<tr>
				<td>
					Manufacturer
				</td>
				<td>
					Model
				</td>
				<td> 
					OS/Version
				</td>
				<td>
					Contributed By
				</td>
				<td>
					Availablity / Location 
				</td>
				<td>
					Status
				</td>
			</tr>
		</thead>
		<tbody>
			{% for i in 0..10%}
				<tr>
					<td>
					Comming Soon!
					</td>
					<td>

					Comming Soon!
					</td>
					<td>
					Comming Soon!
					</td>
					<td>
					Comming Soon!
					</td>
					<td>
					Comming Soon!
					</td>
					<td>
					Comming Soon!
					</td>
				</tr>
			{% endfor %}
		</tbody>
		<tbody>
			<tr>
			<td>
			meow
			</td>
			</tr>
		</tbody>
	</table>
	<p></p>
</div>
