<div id="what-is" class="row-fluid">
	<h2>What are Open Device Labs?</h2>
	<p>
	An Open Device Lab is a space in which local developers designers and technology enthusiasts can come together to test their product. Whether that may be a website, web application or the quality of digital media across device, Buffalo ODL, alongside Open Device Labs around the world are here to provide free access to the equipment necessary to adequately test ones product. If you are interested in learning more about open Device Labs check out these references.
	</p>
	<ul>
		<li><a href="http://opendevicelab.com">OpenDeviceLab.com</a></li>
		<li><a href="http://lab-up.org">Lab-up.org</a></li>			
		<li><a href="http://www.smashingmagazine.com/2013/05/28/open-device-labs-why-should-we-care/">Why We Should Care</a></li>			
	</ul>
</div>

<div class="row-fluid">
		<h2>Where we fit</h2>
		<p>Buffalo, once an epicenter of culture and status in America has since fallen out of the lime-light.  However, over the recent years a large initiative has come together to help bring Buffalo back to what it once was.  Technology and Tech Start-Ups have been a big part of this initiative and Buffalo Open Device Lab is here to provide more resources to local developers in an effort to educate individuals about technology and provide the resources necessary for local developers to hone their products and skills through testing. </p>
</div>
<div class="row-fluid"> 
	<div class="span6">
		<h2>Visit Us</h2>
		<p>We are currently in the foundational stages of establishing this lab and unfortunately we have yet to establish a permanent home. This will be changing very soon and we look forward to seeing all of you soon!</p>
	</div>
	<div class="span6">
		<h2>Make a Contribution</h2>
		<p>Anyone can contribute and help the local developer community. Whether you can loan / donate a device, help with our web presence or have something else in mind, please get in touch!</p>
	</div>
</div>
