<div class="row-fluid"> 
	<div class="span6">
		<h2>Visit Us</h2>
		<p>We are currently in the foundational stages of establishing this lab and unfortunately we have yet to establish a permanent home. This will be changing very soon and we look forward to seeing all of you soon!</p>
	</div>
	<div class="span6">
		<h2>Make a Contribution</h2>
		<p>Anyone can contribute and help the local developer community. Whether you can loan / donate a device, help with our web presence or have something else in mind, please get in touch!</p>
	</div>
</div>
