<div class="row-fluid"> 
	<div class="span6">
		<h2>Visit Us</h2>
		<p>If you are looking to use one or some of our devices to test your application or web page please use the contact form below. We are located right in the heart of Buffalo downtown in the Rand build.</p>
	</div>
	<div class="span6">
		<h2>Contribute</h2>
		<p>Anyone can contribute and help the local developer community. Whether you can loan / <a href="{{ path('_donate') }}">donate a device</a>, help with our web presence or have something else in mind, please get in touch!</p>
	</div>
</div>
