{% extends 'OpenDeviceLabApplicationBundle::layout.html.twig' %}

{% block body %}
	<div class="content row-fluid">
		<div class="span12 main_content_wrapper">
		{% include 'OpenDeviceLabApplicationBundle:Site:info.html.twig' %}

		{% include 'OpenDeviceLabApplicationBundle:Site:devices.html.twig' %}

		{% include 'OpenDeviceLabApplicationBundle:Site:info2.html.twig' %}
		</div>
	</div>
	<div id="map-canvas">
	</div>
	<div class="content row-fluid">
		<div class="span12 main_content_wrapper">

		{% include 'OpenDeviceLabApplicationBundle:Site:contact.html.twig' %}

		</div>
	</div>
{% endblock %}
	
