{% extends 'OpenDeviceLabApplicationBundle::layout.html.twig' %}

{% block body %}
	<div id="content" class="row">
		<div class="span10">
			<div id="about_odl">
				<h2>Something</h2>
				<p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water.</p>
			</div>
			<div id="our_organization">
				<h2>Something</h2>
				<p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water.</p>
			</div>
			<div id="device-list">
				<table class="table table-stripped">
					<caption>Avaialbe Devices</caption>
					<thead>
						<tr>
							<td>
								Manufacturer
							</td>
							<td>
								Model
							</td>
							<td> 
								OS/Version
							</td>
							<td>
								Contributed By
							</td>
							<td>
								Availablity / Location 
							</td>
						</tr>
					</thead>
					<tbody>
						{% for i in 0..10%}
							<tr>
								<td>
								.
								</td>
								<td>
								.
								</td>
								<td>
								.
								</td>
								<td>
								.
								</td>
								<td>
								.h
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div id="contact">
			a big form
			</div>
			<div id="map">
			a map
			</div>
		</div>
	</div>
{% endblock %}
	
