<div class="row-fluid" id="sponsors">
	<a href="http://whoisstudio.com"><img src="{{ asset('assets/img/studio_logo.gif') }}"/></a>
	<a href="http://www.buffalolab.org/blog/"><img src="{{ asset('assets/img/buflab_logo.png') }}"/></a>
</div>
